.surface {
  min-width: 0;
  box-shadow:
    0 0 0 1px rgb(0 0 0 / 6%),
    0 1px 2px -1px rgb(0 0 0 / 6%),
    0 2px 4px rgb(0 0 0 / 4%);
}

.content {
  min-width: 0;
}

:global([data-mantine-color-scheme='dark']) .surface {
  box-shadow: 0 0 0 1px rgb(255 255 255 / 8%);
}