:root {
  font-family:
    /* Hiragino Maru Gothic Pro, */ Torus, system-ui, Avenir,
    Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Torus";
  src:
    url("https://shama.dxrating.net/fonts/Torus-Regular.woff2") format("woff2"),
    url("https://shama.dxrating.net/fonts/Torus-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Torus";
  src:
    url("https://shama.dxrating.net/fonts/Torus-SemiBold.woff2") format("woff2"),
    url("https://shama.dxrating.net/fonts/Torus-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root,
html,
body,
#root {
  height: 100%;
  width: 100%;
}
